
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --color-primary: #7d2cff;
  --color-danger: #ff4a63;
  --color-success: #63ff80;
  --color-warn: #ff8d2a;
  --color-white: #ffffff;
  --color-light: #848bc82e;
  --color-dark:rgba(11, 11, 11, 0.18)e;
  --color-bg: #f0f0f0;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --color-info-dark: #7d8da1;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

#brand {
  font-style: ;
}
html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-bg);
  user-select: none;
  overflow-x: hidden;
}

a {
  color: var(--color-dark)
}

img {
  display: block;
  width: 100%;
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
}

.profile-img{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow-x: hidden;

}

.text-muted {
  color: var(--color-info-dark);

}

p{
  color: var
}

.primary{
  color: var(--color-primary)
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warn {
  color: var(--color-warn);
}

.container{
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}


aside .top{
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

aside .logo {
  display: flex;
  gap: .8rem
}

/* ======================= SIDEBAR ==========================*/

aside .sidebar {
  background: white;
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 1000;
}

aside .sidebar a{
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
}

aside .sidebar